name: Build

on: push

permissions:
  contents: read
  packages: write

jobs:
  build:
    name: Build Image (${{ matrix.name }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: webui
            pretty_name: Stable Diffusion Web UI
            license: AGPL-3.0
            repo: AUTOMATIC1111/stable-diffusion-webui
            ref: v1.10.1
          - name: comfyui
            pretty_name: ComfyUI
            license: GPL-3.0
            repo: comfyanonymous/ComfyUI
            ref: master
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ghcr.io/${{ github.repository_owner }}/stable-diffusion/${{ matrix.name }}
          tags: |
            type=raw,priority=1000,value=latest,enable=${{ github.ref == 'refs/heads/main' }}
            type=semver,pattern={{version}},value=${{ matrix.ref }},enable=${{ github.ref == 'refs/heads/main' }}
            type=semver,pattern={{major}}.{{minor}},value=${{ matrix.ref }},enable=${{ github.ref == 'refs/heads/main' }}
            type=semver,pattern={{major}},value=${{ matrix.ref }},enable=${{ github.ref == 'refs/heads/main' }}
          labels: |
            org.opencontainers.image.title=${{ matrix.pretty_name }}
            maintainer=gabe565
            org.opencontainers.image.vendor=gabe565
            org.opencontainers.image.source=https://github.com/${{ matrix.repo }}
            org.opencontainers.image.version=${{ matrix.ref }}
            org.opencontainers.image.licenses=${{ matrix.license }}
      - name: Set up Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - name: Build and Push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: ${{ matrix.name }}
          pull: true
          push: ${{ github.secret_source == 'Actions' && steps.meta.outputs.tags != '' }}
          platforms: linux/amd64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            REPO=${{ matrix.repo }}
            REF=${{ matrix.ref }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
